<section id="section-methodes" class="relative bg-gradient-to-br from-slate-600 to-slate-800 py-8 lg:py-10 px-5 sm:px-15 md:px-30">
    <div class="relative z-10 max-w-7xl mx-auto px-4">
        <!-- Header -->
        <div class="mb-4 text-center sm:text-left">
            <span class="inline-block px-3 py-1.5 sm:px-4 sm:py-2 bg-blue-500/20 text-white rounded-md text-xs sm:text-sm font-medium mb-2 sm:mb-1">
                METHODES
            </span>
        </div>
        
        <!-- Grid des cadres -->
            <div class="grid grid-cols-1 gap-6">
                
                <!-- Cadre 1 - Développement Front-end -->
                <div class="bg-gradient-to-br from-slate-500 to-blue-800 rounded-lg p-6 text-white relative overflow-hidden">
                    <div class="relative z-10">
                        <h3 class="text-lg font-bold mb-2">Travail en équipe et vulgarisation</h3>
                        <div class="mt-4">
                            <p class="text-sm">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            </p>
                        </div>
                    </div>
                    <div class="absolute top-0 right-0 w-20 h-20 bg-white/10 rounded-full -mr-10 -mt-10"></div>
                </div>

                <!-- Cadre 2 - Développement Back-end -->
                <div class="bg-gradient-to-br from-slate-500 to-blue-900 rounded-lg p-6 text-white relative overflow-hidden">
                    <div class="relative z-10">
                        <h3 class="text-lg font-bold mb-2">Méthode agile</h3>
                        <div class="text-sm opacity-90 mb-3">
                            <span class="block">SCRUM</span>
                        </div>
                        <div class="mt-4">
                            <p class="text-sm">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            </p>
                        </div>
                    </div>
                    <div class="absolute top-0 right-0 w-20 h-20 bg-white/10 rounded-full -mr-10 -mt-10"></div>
                </div>

            </div>
    </div>
</section>